{% extends "base.html" %}
{% block head %}
<meta name="keywords" content="{{ article.tags|join(', ')  }}">
<!-- <script type="text/javascript" src="{{ SITEURL }}/theme/lib/highslide-4.1.13/highslide.js"></script> -->
{% endblock %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block header %}
  <h2>
    <a href="{{ SITEURL }}/{{ article.url }}">
      {{ article.title }}
    </a>
  </h2>
{% endblock %}

{% block content %}
<article>
  <!-- <p class="">
  </p> -->
  <a href="{{ SITEURL }}/" class="button_accent">&larr; Back to Index</a>
  <div class="article_title">
    <p>Posted on {{ article.locale_date }}</p>
  </div>
  <div class="article_text">
    {{ article.content }}
  </div>
  <div class="article_meta">
    <p>Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
    {% if article.tags %}
    <p>Tags:
      {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% if not loop.last %},{% endif %}
      {% endfor %}
    </p>
    {% endif %}
  </div>
</article>
{% endblock %}

{% block footer %}
<a href="{{ SITEURL }}/" class="button_accent">&larr; Back to Index</a>
{% endblock %}
