{% extends "base.html" %}
{% block content %}
<div class="articles_wrapper">
	<ul class="articles">
		{% for article in articles_page.object_list %}
			<li class="article">
			  <div class="article_title">
		    	<a href="{{ SITEURL }}/{{ article.url }}">
				    {% if article.image %}
				    	<img class="article_title_image" src="{{article.image}}" />
				    {% endif %}
				    <div class="article_description">
				    		{{ article.title }}
				    </div>
		    	</a>
			  </div>
			</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}

{% block footer %}
{#{% include "modules/pagination.html" %}#}
{% endblock %}
